* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../bus/forecast/assets/img/bg.png");
  background-size: auto;
  font-family: Roboto;
}

main {
  width: 910px;
  margin: 0 auto;
}
